/* @import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* pink ff1a5c */

body {
  /* font-family: 'Muli', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 16px;
  color: #8a8a8a;
  letter-spacing: 0.5px;
}

.nav-left-social i {
  font-size: 17px;
  margin-right: 10px;
}

.myNav {
  z-index: 1000;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(226, 226, 226);
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(0, 166, 81);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 2rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand h1 {
  font-size: 2rem;
  font-weight: 500;
}

.navbar-brand span {
  font-weight: 600;
  color: #37474f;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 12rem;
  margin-bottom: 0;
  list-style: none;
}

.navbar-brand img {
  /* width: 85px; */
}

.logoCenter {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.navbar-light.scrolled {
  background: #1565c0;
}

.navbar-light {
  transition: 500ms ease;
  background: transparent;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1rem;
  height: 1.2em;
  vertical-align: middle;
  content: '';
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-light .navbar-toggler {
  color: rgb(255, 253, 253);
  border-color: rgb(255, 255, 255);
  background: #fff;
  border-radius: 2px;
}

.scrolled .navbar-brand {
  /* color: rgba(0, 0, 0, 0.9);
  background: #fff; */
  /* border-radius: 10px;
  padding: 0.5rem; */
}

.scrolled .nav-link:hover {
  color: #37474f !important;
}

.navbar-brand span {
  font-weight: 600;
  color: #fff;
}

.img-shadow {
  box-shadow: 0 18px 69px #d6d4d4;
}

.jumbotron {
  padding: 12rem 0rem 0rem 0rem;
  margin-bottom: -8rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  height: 115vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/slider-4.jpg);
  background-size: cover;
  position: relative;
  top: -9rem;
}

footer {
  /* background-image: url(../images/footer.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative; */
}

.display-4 {
  z-index: 5;
  font-family: inherit;
  visibility: visible;
  text-align: left;
  line-height: 65px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: normal;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.bannerTitleBody {
}

hr.wlcm-line {
  width: 130px;
  color: #1565c0;
  height: 9px;
  float: none;
  border-top: solid 3px;
  text-align: center;
  display: inline-block;
  background: none;
  margin-left: -2px;
  /* margin-bottom: 0; */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

hr {
  margin-top: 0rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.about {
  /* background: #241e82; */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about h1 {
  font-size: 1.8rem;
}

.mainTitle {
  color: #37474f;
  font-weight: 500;
  font-size: 29px;
  line-height: 50px;
  letter-spacing: 0.25px;
  text-align: center;
}

.mediumFont {
  font-size: 21px;
  line-height: 25px;
}

.text-left {
  text-align: left;
}

.about span {
  font-size: 14px;
  font-weight: 500;
  color: #696969;
}

/* .about p {
  font-size: 17px;
  color: #6e6e6e;
} */

.jumbotron img {
  z-index: 10000;
}

/* .bannerImg {
  position: fixed;
  width: 42%;
  background-image: url('../images/banner-scr.png');
} 
.header-big-image {
  position: absolute;
  width: 50%;
  top: 22vh;
  right: 16.5rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-big-image img {
  max-height: 33.5rem;
} */

/* button */

.btn-primary {
  color: #fff;
  background-color: #1565c0;
  border-color: #1565c0;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1565c0;
  border-color: #1565c0;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1565c0;
  border-color: #1565c0;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #00a6503a;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #00a6503a;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4rem;
  letter-spacing: 1px;
}

/* button */

/* body {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
  overflow: hidden;
} */

.loader {
  width: 30em;
  height: 30em;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 5s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: #333;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: #37474f;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em,
    0 0 0 0.5em #ff1a5b41;
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}

/* app feature */

.features p {
  text-align: center;
  margin-bottom: 1rem;
}

.features h4 {
  text-align: center;
  font-weight: 500;
  color: #1565c0;
  font-size: 20px;
}

.features img {
  width: 95px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.features i {
  font-size: 40px;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: #1565c0;
}

/* app feature end */

/* owl */

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #37474f;
}

.my-1 .item {
  background-color: white;
  margin: 0 auto;
  width: 300px;
}

.my-1 .item > img {
  width: 240px;
}

.my-1 .item > h4 {
  margin: 0;
}

.my-1 .owl-nav > .owl-prev,
.my-1 .owl-nav > .owl-next {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  margin: 0 !important;
}

.my-1 .owl-nav > .owl-next {
  left: auto;
  right: -50px;
}

.my-1 .owl-dots {
  display: none;
}

.lang {
  width: 70px;
  height: 70px;
  background-color: #666;
  text-align: center;
}

.lang > span {
  font-size: 35px;
  color: white;
  display: block;
  padding-top: 10px;
  font-weight: 500;
}

.product {
  text-align: center;
  font-weight: 600;
}

.product > .p-name {
  padding-top: 20px;
  line-height: 20px;
  overflow: hidden;
  max-height: 82px;
  font-size: 14px;
}

.product > .p-price {
  padding-top: 10px;
  font-size: 14px;
}

.owl-nav i {
  background: #3f51b5;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #37474f),
    color-stop(98%, #37474f),
    color-stop(100%, #37474f)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#37474f),
    color-stop(98%, #37474f),
    to(#37474f)
  );
  background: linear-gradient(to right, #37474f 0%, #37474f 98%, #37474f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  position: relative;
  top: 3px;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 3px 8px;
  background: #eaeaea;
  display: inline-block;
  cursor: pointer;
  border-radius: 0%;
}

/* owl */

/* testimonial-area */

.testimonial-area {
}

.testimonial-wrapper {
}

.testimoniall-img {
  margin-bottom: 44px;
  margin-top: 2rem;
}

.testimonial-text {
}

.testimonial-text p {
  font-size: 17px;
  line-height: 30px;
  color: #273f5b;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0 161px;
  color: #02020299;
  font-weight: 300;
  padding: 0 176px;
}

.testimonial-text h4 {
  font-weight: 700;
  font-size: 16px;
  color: #4b5d73;
  margin-bottom: 2px;
}

.testimonial-text span {
  color: #4b5d73;
  font-size: 16px;
  font-weight: 400;
}

.testimonial2-text {
}

.testimonial-img {
  margin-bottom: 14px;
  margin-top: 50px;
}

.testimonial-imgTop {
  width: 45px !important;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-imgProfile {
  width: 65px !important;
  margin-left: auto;
  margin-right: auto;
}

/* testimonial-area */

/* faq */

.accordionBg {
  background: #37474f;
  padding: 0.3rem;
  color: #fff;
  font-size: 20px;
  margin-bottom: 1rem;
}

.faq img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* box-shadow: 0px 5px 32px #989898; */
}

/* faq */

/* newsletter */

.newsletter {
  background: #37474f;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.subscribe-text h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 1px;
}

.subscribe-text span {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 5px;
}

.subscribe2-wrapper .subscribe-form input {
  background: none;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  height: 57px;
  margin-right: 17px;
  padding-left: 35px;
  width: 72%;
  cursor: pointer;
}

.subscribe-form input {
  background: #fff;
  border: medium none;
  border-radius: 30px;
  color: #cccccc;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  height: 57px;
  margin-right: 17px;
  padding-left: 35px;
  width: 72%;
}

.subscribe2-wrapper .subscribe-form button:hover {
  color: #37474f;
}

.subscribe2-wrapper .subscribe-form button {
  background: #ffff;
  border: none;
  border-radius: 30px;
  color: #4b5d73;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  padding: 18px 46px;
  transition: all 0.3s ease 0s;
}

.subscribe-form button:hover {
  background: #fff;
  color: #ff8a73;
}

.subscribe-form button {
  background: #ff8a73;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  padding: 18px 46px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.subscribe-form::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.subscribe-form:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.subscribe-form::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.subscribe2-wrapper .subscribe-form button {
  margin-top: 1rem;
}

.subscribe-form button i {
  position: relative;
  top: 3px;
  left: 1rem;
}

/* newsletter */

/* contact */

.contact-form {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.contact-form input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  margin-bottom: 40px;
  background: none;
  padding: 6px 0;
}

.contact-form textarea {
  width: 80%;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  margin-bottom: 40px;
  padding: 6px 0;
  background: none;
  height: 39px;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

/* end contact */

/* footer */

/* 11. footer */

.footer-area {
  background-size: cover;
  background-position: center center;
  /* background: #00000059; */
}

.footer-wrapper {
}

.footer-logo {
}
.fotterLogo img {
  /* width: 100px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-link {
  margin-bottom: 67px;
  margin-top: 58px;
}

.footer-link li {
  display: inline-block;
  margin: 0 23px;
}

.footer-link li:last-child {
  padding-right: 0;
}

.footer-link li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0.6;
  transition: 0.3s;
}

.footer-link li a:hover {
  color: #5580ff;
  opacity: 1;
}

.foter2-wrapper .footer-link li a {
  color: #58468c;
  opacity: 1;
}

.foter3-wrapper .footer-link li a {
  color: #fff;
  opacity: 1;
}

.footer-icon {
}

.footer-icon a {
  height: 60px;
  width: 60px;
  background: #fff;
  display: inline-block;
  color: #324963;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  margin-right: 25px;
}

.footer-icon a:last-child {
  margin-right: 0;
}

.foter2-wrapper .footer-icon a {
  height: 55px;
  width: 55px;
  background: #dee5f9;
  display: inline-block;
  color: #37474f;
  font-size: 18px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  margin-right: 5px;
}

.foter2-wrapper .footer-icon a:hover {
  background: #37474f;
  color: #fff;
}

.foter3-wrapper .footer-icon a {
  background: #37474f;
  color: #fff;
}

.foter3-wrapper .footer-icon a:hover {
  background: #37474f;
  color: #fff;
}

/* download */

.download-section {
  background-image: url(../images/download.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

[data-default-theme='theme-1'] .gradient {
  background: -webkit-linear-gradient(right, #2eb8b7, #007bc3) !important;
  background: -o-linear-gradient(right, #2eb8b7, #007bc3) !important;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#2eb8b7),
    to(#007bc3)
  ) !important;
  background: linear-gradient(to left, #2eb8b7, #007bc3) !important;
}

.download-section .overlay {
  top: 0;
  left: 0;
  width: 100%;
  /* height: 21rem; */
  background: #000000ad;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

/* model */

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0rem;
  outline: 0;
}

.modal-dialog-scrollable .modal-content {
  background: #37474f;
  color: #fff;
}

/* enrol form */

.enrollForm input {
  background: #fff0;
  border-radius: 30px;
  border: 1.2px #fff solid;
  color: #fff;
}

.enrollForm input:focus {
  color: #ffffff;
  background-color: #fff0;
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.enrollForm::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.enrollForm:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.enrollForm::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.enrollForm button {
  color: #fff;
  background-color: #37474f00;
  border-color: #fff8fa;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fotterLogo {
  background: #fff;
  display: inline-flex;
  padding: 1rem;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*  */

#screen-carousel .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-height: 22rem;
}

.advancedUl {
  list-style: none;
  padding: 0;
  color: #8a8a8a;
  line-height: 2.2rem;
  font-size: 15px;
}

.advancedUl i {
  font-size: 20px;
  color: #1565c0;
  margin-right: 9px;
}

.user-counterLeft {
  width: 50%;
  float: left;
}

.user-counterRight {
  width: 50%;
  float: left;
}

.user-counterLeft h3 {
  display: inline-block;
  float: none;
  width: auto;
  margin: 0;
  color: inherit;
  font-size: 62px;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.03em;
}

.user-counterRight h3 {
  display: inline-block;
  float: none;
  width: auto;
  margin: 0;
  color: inherit;
  font-size: 62px;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.03em;
}

.user-counterRight i {
  font-size: 36px;
  color: #1565c0;
}

.user-counterLeft i {
  font-size: 36px;
  color: #1565c0;
}

.user-counterbody {
  background: #f4f7fa;
}

.navLeftSocial i {
  font-size: 18px;
  color: #fff;
  margin-right: 1rem;
  z-index: 10000;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e6e6e6;
  border-radius: 2.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #9898982e;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.modal-content {
  border-radius: 2rem;
}

.module-section {
  background-image: url(../images/slider-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  /* background: #f5f7f6; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.abt-icon {
  width: 80px;
  height: 80px;
  border: solid;
  border-width: 3px;
  border-top-color: #37474f;
  border-bottom-color: #1565c0;
  border-left-color: #1565c0;
  border-right-color: #37474f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
}

.abt-icon span {
  font-size: 20px;
  color: #fff;
}

.abt-txt {
  margin-left: 1em;
}

.abt-txt h4 {
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 0.5em;
  font-weight: 300;
  text-align: left;
  margin-top: 1em;
  color: #fff;
  letter-spacing: 0.5px;
}

.white-color {
  color: #fff;
}

.modul_pro_bg {
  background: #00000069;
  border-radius: 76px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.modulName {
  color: #fff;
  padding: 1.5rem 0rem;
  /* position: relative; */
  /* left: 1rem; */
  margin-bottom: 0rem;
  float: left;
  width: 80%;
}
.moduleLeft-icon {
  float: left;
  width: 20%;
}

.module-row {
  margin-bottom: 2rem;
  display: flex;
  background: #37474f;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.module-section ul {
  list-style: none;
  font-size: 18px;
  padding: 8px;
}

.module-section li {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.module-section ul i {
  font-size: 26px;
  padding-right: 11px;
  color: #414e60;
}

.module-Arrow {
  font-size: 20px;
  color: #fff;
  position: relative;
  top: 1.7rem;
  left: -3px;
}

.modulName h4 {
  font-size: 18px;
  font-weight: 400;
}
.module-section img {
  cursor: pointer;
}
