@media only screen and (max-width: 767px) {
  .testimonial-text p {
    font-size: 21px;
    line-height: 30px;
    color: #273f5b;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0 161px;
    color: #02020299;
    font-weight: 300;
    padding: 0 5px;
  }

  .display-4 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 0rem;
    font-family: 'Nunito', sans-serif;
    text-shadow: 1px 2px 3px white;
  }

  .subscribe2-wrapper .subscribe-form button {
    margin-top: 1rem;
  }

  .subscribe-form button i {
    position: relative;
    top: 3px;
    left: 1rem;
  }
}

@media only screen and (max-width: 1010px) {
  .jumbotron {
    background-image: url(../images/banner-mobile.jpg);
  }
}
