.container {
  max-width: 1240px !important;
}

@media only screen and (max-width: 767px) {
  .subscribe-text h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 1px;
    text-align: center;
  }

  .subscribe-wrapper input {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .subscribe-text span {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    display: block;
  }

  .subscribe-wrapper button {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .testimonial-text p {
    font-size: 17px;
    line-height: 29px;
    color: #273f5b;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0 161px;
    color: #585858fa;
    font-weight: 300;
    padding: 0 5px;
  }

  .fotterLogo img {
    width: 100px;
  }

  .subscribe2-wrapper .subscribe-form button {
    margin-top: 1rem;
  }

  .subscribe-form button i {
    position: relative;
    top: 3px;
    left: 1rem;
  }
}

@media only screen and (max-width: 979px) {
  .navbar-nav {
    background: #00a651;
    border-radius: 35px;
  }
  .modul_pro_bg {
    background: #00000069;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 28%;
    margin-bottom: 0;
    list-style: none;
  }
}

@media only screen and (max-width: 991px) {
  .abt-txt {
    margin-left: 0;
  }
}

@media only screen and (max-width: 667px) {
  .abt-icon {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 320px) {
  .abt-icon {
    width: 50px;
    height: 50px;
  }
}
