/* .container {
  max-width: 1240px !important;
} */

@media only screen and (max-width: 991px) {
  .abt-txt {
    margin-left: 0;
  }

  .modulName {
    width: 69%;
  }

  .moduleLeft-icon {
    width: 31%;
  }
}

@media only screen and (max-width: 979px) {
  .navbar-nav {
    background: #00a651;
    border-radius: 35px;
  }
  .modul_pro_bg {
    background: #00000069;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .modulName {
    width: 80%;
  }

  .moduleLeft-icon {
    width: 20%;
  }
  .subscribe-text h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 1px;
    text-align: center;
  }
  .subscribe-wrapper input {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .subscribe-text span {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    display: block;
  }
  .subscribe-wrapper button {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .testimonial-text p {
    font-size: 17px;
    line-height: 29px;
    color: #273f5b;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0 161px;
    color: #585858fa;
    font-weight: 300;
    padding: 0 5px;
  }
  .fotterLogo img {
    width: 100px;
  }
  .subscribe2-wrapper .subscribe-form button {
    margin-top: 1rem;
  }
  .subscribe-form button i {
    position: relative;
    top: 3px;
    left: 1rem;
  }
}

@media only screen and (max-width: 667px) {
  .contact-form input {
    width: 100%;
  }

  .contact-form textarea {
    width: 100%;
  }
  .modulName {
    padding: 1rem 0rem;
  }

  .mainTitle {
    font-weight: 600;
    font-size: 27px;
    line-height: 50px;
    letter-spacing: 0.25px;
    text-align: center;
  }

  .modulName h4 {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.51px;
  }
  .abt-icon {
    width: 60px;
    height: 60px;
  }
  .display-4 {
    z-index: 5;
    font-family: inherit;
    visibility: visible;
    text-align: left;
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    transform-origin: 50% 50% 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@media only screen and (max-width: 550px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 28%;
    margin-bottom: 0;
    list-style: none;
  }
}

@media only screen and (max-width: 320px) {
  .abt-icon {
    width: 50px;
    height: 50px;
  }
}
